#gamebox0 {
  background: url(../images/graph1.jpg) no-repeat center center/cover;
  animation: none;
  background-size: 100% 100%;
}
#gamebox0::before {
  content: "First Product";
  position: relative;
  top: -30px;
  margin-bottom: -20px;
}

#gamebox3 {
  background: url(../images/lottery.gif) no-repeat center center/cover;
  animation: none;
  background-size: 100% 100%;
  /* color: var(--bg); */
}
#gamebox1 {
  background: url(../images/giphy.gif) no-repeat center center/cover;
  animation: none;
  background-size: 100% 100%;
}

#gamebox2 {
  background: url(../images/lTXepVrUf7XBoBGgzW.gif) no-repeat center
    center/cover;
  animation: none;
  background-size: 100% 100%;
}
