@import url("https://fonts.googleapis.com/css2?family=Gafata&family=Open+Sans:wght@300;400&display=swap");

:root {
  --bg: #1e1b18ff;
  --bg2: #0a2463ff;
  --text: #fffaffff;
  --primary-text: #d8315bff;
  --outline: #3e92ccff;
  --theme: #5aff15;
}

*,
img,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Gafata", "Open Sans", sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

.text-danger {
  color: #dc3545 !important;
}
.text-safe {
  color: green !important;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg);
  color: var(--primary-text);
  opacity: 0.8;
  width: 100%;
  height: 85px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
  overflow: hidden;
  /* z-index: 12; */
}

.text-primary {
  color: var(--theme);
  font-size: 40px;
  font-weight: bold;
  white-space: nowrap;
}
.text-primary a {
  color: var(--theme);
  font-size: 40px;
  font-weight: bold;
}

nav ul {
  display: flex;
  flex-direction: row;
}
/* nav ul li {
} */

nav ul li a {
  padding: 10px 20px;
  margin: 10px;
  color: var(--text);
  font-size: 20px;
  border: var(--bg) solid 2px;
}

nav ul li a:hover,
.social a:hover {
  border: var(--theme) solid 2px;
  /* background-color: var(--bg2); */
}
.social {
  display: flex;
  align-items: center;
}

.social a {
  color: var(--text);
  font-size: 1rem;
  padding: 10px 10px;
  margin: 10px;
  border: var(--bg) solid 2px;
}

.hummer {
  width: 7px;
  vertical-align: -85px;
  height: 74px;
}
.text-primary span {
  vertical-align: -41px;
}
